---
layout: none
title: Hoary Gamer Home
---

<!doctype html>
<html lang="en">

<head>

<!-- meta tags -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--custom fonts -->

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato|Supermercado+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway|Sedgwick+Ave" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Styles -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>

<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar" aria-controls="#myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>                  
      </button>
      <a class="navbar-brand" href="#top"><left-nav>The Hoary Gamer</left-nav></a>
    </div>
        <div class="collapse navbar-collapse" id="myNavbar" role="navigation">
    <ul class="navbar-nav mr-auto">
       <right-nav>
      <li><a href="#games">Games</a></li>
      <li><a href="#music">Music</a></li>
      <li><a href="#culture">Culture</a></li>
      </right-nav>
    </ul>
    </div>
  </div>
</nav>

<div class="container-top" id="top">
<h5>THE HOARY GAMER</h5>
  <h4></br><em>hoar·y: old and trite.</em></h4>
    <h4></br>A site where hoary people write hoary things about hoary things.</h4>
</div>
  
<div class="container-games" id="games"> 
  <br />
  <h2>GAMES</h2>
  <h4>Latest posts on shit about games and shit.</h4>
  <br />
  <div class="container-fluid">
    <div class="row">
       <!-- TODO change this to site.games when you have content -->
      {% for item in site.posts limit:4 %}
        <div class="col-md-6">
          <a href="{{item.url}}" target="_blank">
            <img src="{{item.thumbnail}}">
          </a>
          <p style="color:black">{{item.title}}</p>
          <p style="color:black">{{item.content}}</p>
        </div>
      {% endfor %}
    </div>
  </div> 
</div>

<div class="container-music" id="music">
  <a href="/music/"><h2>MUSIC</h2></a>  
  <h4>We hate noise.</h4>  
  <div class="container-fluid">
    <div class="row">
      {% for item in site.music limit:4 %}
        <div class="col-md-6">
          <a href="{{item.url}}" target="_blank">
            <img src="{{item.thumbnail}}">
          </a>
          <p style="color:black">{{item.title}}</p>
          <p style="color:black">{{item.content}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>

<div class="container-culture" id="culture"> 
  </br>
  <h2>CULTURE</h2>
  <h4>Listen up you punk kids.</h4>
  <div class="container-fluid">
    <div class="row">
      {% for item in site.culture limit:4 %}
        <div class="col-md-6">
          <a href="{{item.url}}" target="_blank">
            <img src="{{item.thumbnail}}">
          </a>
          <p style="color:black">{{item.title}}</p>
          <p style="color:black">{{item.content}}</p>
        </div>
      {% endfor %}
    </div>
  </div> 
</div>

<div class = "contact">

<ul>
    <li>
         <a href="https://www.linkedin.com/in/james-kerley/" target="_blank" class="button btn-social-icon btn-linkedin" style="font-size:68px; color:black;">
           <span class="fa fa-linkedin-square"></span></a>
           </li>
        <li>
          <a href="https://twitter.com/roboKerley" target="_blank" class="button btn-social-icon btn-twitter" style="font-size:68px; color:black;">
            <span class="fa fa-twitter-square"></span></a>
            </li>
        <li>
          <a href="https://github.com/jkerley23" target="_blank" class="button btn-social-icon btn-github" style="font-size:68px; color:black;">
            <span class="fa fa-github"></span>
  </a>
            </li>
    </ul>
  
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
$('.navbar li').on('click', function(){
    $(this).siblings().removeClass('active');
    $(this).addClass('active');
});

$('a[href*=\\#]').on('click', function(event){     
    event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
});

</script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
  
</body>

</html>
